

#main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 65px;
}

#myClock {
    z-index: 3;
    position: absolute;
    top: 41vh;
    left: 43.5vw;
    background-color: rgb(204, 204, 171);
    display:flex;
    font-family: Pacifico; 
    font-size: 65px; 
}

#clock {
    z-index: 2;
    position: absolute;
    top: 48vh;
    left: 44.5vw;
    background-color: rgb(204, 204, 171);
    font-family: Pacifico; 
    font-size: 50px;
    padding: 8px;
}